@import '../../../../../sass/abstracts/variables';
@import '../../../../../sass/abstracts/mixins';

.firstSection {
  height: 100vh;
  width: 100vw;
  background-color: #718191;
  color: #eaeaff;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    height: 4px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #a9a9a9;
    -webkit-clip-path: polygon(
      0% 0%,
      5% 100%,
      10% 0%,
      15% 100%,
      20% 0%,
      25% 100%,
      30% 0%,
      35% 100%,
      40% 0%,
      45% 100%,
      50% 0%,
      55% 100%,
      60% 0%,
      65% 100%,
      70% 0%,
      75% 100%,
      80% 0%,
      85% 100%,
      90% 0%,
      95% 100%,
      100% 0%
    );
  }

  @include respond(phone) {
    height: 100%;
    align-items: flex-start;
  }

  &__art {
    position: absolute;
    bottom: 20vh;
    right: 10vw;
    height: 40vh;
    width: fit-content;
    z-index: 1;
    & img {
      height: 100%;
    }
    @include respond(phone) {
      bottom: 5vh;
      height: 10vh;
    }
  }
  &__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 10%;

    @include respond(phone) {
      height: 100%;
      width: 100%;
    }

    & h1 {
      font-size: max(2.5vh, 2.5vw);
      margin-bottom: min(10rem, 11vh);
      @include respond(phone) {
        font-size: 4.5vh;
        margin-bottom: 11vh;
      }
    }
    & h2 {
      font-weight: 400;
      font-size: max(2vh, 2vw);
      margin-bottom: min(3rem, 4vh);
      @include respond(phone) {
        font-size: 4vh;
        margin-bottom: 5vh;
      }
    }
    & h3 {
      font-weight: 400;
      font-size: max(1vh, 1vw);
      margin-bottom: min(10rem, 11vh);
      @include respond(phone) {
        font-size: 2vh;
        margin-bottom: 9vh;
      }
    }
  }
  &__socials {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    --margin-right: 2rem;
  }
}
