.secondary_cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  z-index: 99;
  // background: rgb(116, 133, 225);
  // background: radial-gradient(
  //   circle,
  //   rgba(116, 133, 225, 1) 0%,
  //   rgba(213, 196, 206, 1) 100%
  // );
}
