@import '../../../sass/abstracts/variables';
@import '../../../sass/abstracts/mixins';

.cta {
  border-radius: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: auto;
  background-color: transparent;
  &_d {
    transition: background-color 0s ease 1s;
    &__trans {
      transition: background-color 0s ease;
      background-color: #e8e8e8;
    }

    &__input {
      display: inline;
      font-variation-settings: 'wght' 700;
      font-size: min(2vw, 2vh);
      background-color: transparent;
      outline: none;
      border: none;
      width: 0;
      height: 100%;
      transition: width 1s ease;
      &__clicked {
        transition: width 1s cubic-bezier(0.48, 2.73, 0.2, 0.26);
        margin-left: 4%;
        margin-right: 4%;
        display: block;
        width: 25vw;
      }
    }
  }

  &__button {
    &__wrapper {
      position: relative;
    }
    font-family: Integral CF;
    font-weight: 600;
    display: block;
    cursor: pointer;
    font-size: min(1.9vw, 1.9vh);
    text-transform: uppercase;
    white-space: nowrap;
    padding: 2rem 5rem;
    background: #a2b0ff;
    position: relative;
    border: 2px solid #57689d;
    color: #25385b;
    transition: all 0.1s ease;
    z-index: 2;
    &:hover {
      transform: translate(2px, -2px);
    }

    &__shadow {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      transform: translate(-6px, 6px);
      background: #25385b;
      z-index: 1;
    }
  }
}
