.primary-heading {
  all: unset;
  font-family: Integral CF;
  font-weight: 900;
  font-size: inherit;
  text-transform: uppercase;
  color: inherit;
  text-align: center;
  display: block;
  margin-top: max(-4.5vh, -3.5vw);
}
