@import '../../../../../sass/abstracts/mixins';
@import '../../../../../sass/abstracts/variables';

.hero {
  bottom: 100vh;
  height: 100vh;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: $white;
  z-index: 1;
  justify-content: flex-start;
  // background-color: #5928e5;
  background-color: #4d4aff;
  &__wrapper {
    position: relative;
    // background-color: #121212;
    background-color: #212121;
    height: 100%;
    // height: 100vh;
  }
  color: white;
  &__heading {
    &__wrap {
      & h1 {
        font-size: min(12vh, 12vw);
      }
    }
  }

  &__main {
    --element-base-size: min(7vw, 7vh);
    position: relative;
    margin-top: 20vh;
    margin-bottom: 9vh;

    &_child {
      width: 100%;
      height: 100%;
      animation: elementAnimation 12s ease 6s infinite;
    }
    &_wrapper {
      position: absolute;
      &1 {
        bottom: 5vh;
        right: -1vw;
        width: var(--element-base-size);
        height: var(--element-base-size);
        @include respond(tab-land) {
        }
        @include respond(tab-port) {
        }
        @include respond(phone) {
        }
        @include respond(small-phone) {
        }
      }
      &2 {
        top: -8vh;
        right: -6vw;
        width: calc(var(--element-base-size) * 2);
        height: calc(var(--element-base-size) * 2);
        @include respond(tab-land) {
        }
        @include respond(tab-port) {
        }
        @include respond(phone) {
        }
        @include respond(small-phone) {
        }
      }
      &3 {
        // top: 0;
        top: -8vh;
        left: -5vw;
        width: calc(var(--element-base-size) + 1rem);
        height: calc(var(--element-base-size) + 1rem);
        @include respond(tab-land) {
        }
        @include respond(tab-port) {
        }
        @include respond(small-phone) {
        }
        @include respond(phone) {
        }
      }
      &4 {
        bottom: -4vh;
        left: -1vw;
        width: calc(var(--element-base-size) + 2rem);
        height: calc(var(--element-base-size) + 2rem);
        @include respond(tab-land) {
        }
        @include respond(tab-port) {
        }
        @include respond(phone) {
        }
      }
      &5 {
        bottom: -23vh;
        right: 1vw;
        width: calc(var(--element-base-size) + 1rem);
        height: calc(var(--element-base-size) + 1rem);
        @include respond(tab-land) {
        }
        @include respond(tab-port) {
        }
        @include respond(phone) {
        }
      }
    }
  }
  &__heading {
    all: unset;
    font-family: Integral CF;
    font-weight: 900;
    font-size: min(10vh, 10vw);
    max-width: 65vw;
    text-transform: uppercase;
    @include respond(tab-land) {
      max-width: 80vw;
    }
    @include respond(tab-port) {
      max-width: 80vw;
    }

    @include respond(phone) {
      max-width: 95vw;
    }
    @include respond(small-phone) {
      max-width: 95vw;
    }
  }
  &__subHeading {
    all: unset;
    display: block;
    font-family: Manrope;
    font-variation-settings: 'wght' 500;
    width: 100%;
    font-size: min(2vw, 2vh);
    margin-bottom: 10vh;
    @include respond(phone) {
      max-width: 80vw;
    }
  }

  &__tut {
    position: absolute;
    bottom: 1.7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &__arrow {
      height: 1.5rem;
      width: 1.5rem;
      margin-right: 1rem;
      animation: moveDownUp 1.6s ease-out 0.75s infinite;
    }
    & span {
      font-size: 2.5rem;
      font-variation-settings: 'wght' 300;
    }
  }
}

@keyframes moveDownUp {
  0% {
    transform: translateY(0rem);
  }
  60% {
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

@keyframes elementAnimation {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(1rem, -3rem);
  }
  100% {
    transform: translate(0, 0);
  }
}
.htn {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  &__child {
    will-change: transform;
    position: fixed;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    // border-radius: 1.1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    & h2 {
      font-family: Raleway;
      font-variation-settings: 'wght' 400;
      font-size: 16rem;
      color: white;
      @include respond(small-phone) {
        font-size: 8rem;
      }
    }
    &1 {
      background: rgb(20, 226, 218);
      background: radial-gradient(
        circle,
        rgba(20, 226, 218, 1) 0%,
        rgba(150, 214, 212, 1) 100%
      );

      left: -80%;
      bottom: -80%;
      z-index: 4;
    }
    &2 {
      background: rgb(116, 133, 225);
      background: radial-gradient(
        circle,
        rgba(116, 133, 225, 1) 0%,
        rgba(159, 166, 205, 1) 100%
      );
      left: -160%;
      bottom: -160%;
      z-index: 3;
    }
    &3 {
      background: rgb(255, 165, 216);
      background: radial-gradient(
        circle,
        rgba(255, 165, 216, 1) 0%,
        rgba(255, 218, 239, 1) 100%
      );
      left: -240%;
      bottom: -240%;
      z-index: 2;
    }
  }
}
