@import '../../../../../sass/abstracts/mixins';

.hero {
  bottom: 100vh;
  height: 100vh;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  @include respond(phone) {
    justify-content: flex-start;
    padding-top: 20vh;
  }

  &__main {
    --element-base-size: min(7vw, 7vh);
    position: relative;
    margin-bottom: 6rem;
    &_child {
      width: 100%;
      height: 100%;
      animation: elementAnimation 12s ease 6s infinite;
    }
    &_wrapper {
      position: absolute;
      z-index: -1;
      &1 {
        bottom: 5vh;
        right: -1vw;
        width: var(--element-base-size);
        height: var(--element-base-size);
        @include respond(tab-land) {
        }
        @include respond(tab-port) {
        }
        @include respond(phone) {
        }
        @include respond(small-phone) {
        }
      }
      &2 {
        top: -8vh;
        right: -6vw;
        width: calc(var(--element-base-size) * 2);
        height: calc(var(--element-base-size) * 2);
        @include respond(tab-land) {
        }
        @include respond(tab-port) {
        }
        @include respond(phone) {
        }
        @include respond(small-phone) {
        }
      }
      &3 {
        // top: 0;
        top: -8vh;
        left: -5vw;
        width: calc(var(--element-base-size) + 1rem);
        height: calc(var(--element-base-size) + 1rem);
        @include respond(tab-land) {
        }
        @include respond(tab-port) {
        }
        @include respond(small-phone) {
        }
        @include respond(phone) {
        }
      }
      &4 {
        bottom: -4vh;
        left: -1vw;
        width: calc(var(--element-base-size) + 2rem);
        height: calc(var(--element-base-size) + 2rem);
        @include respond(tab-land) {
        }
        @include respond(tab-port) {
        }
        @include respond(phone) {
        }
      }
      &5 {
        bottom: -23vh;
        right: 1vw;
        width: calc(var(--element-base-size) + 1rem);
        height: calc(var(--element-base-size) + 1rem);
        @include respond(tab-land) {
        }
        @include respond(tab-port) {
        }
        @include respond(phone) {
        }
      }
    }
  }
  &__mainEl {
    // --element-base-size: 6rem;
    pointer-events: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    z-index: -1;
    // @include respond(tab-land) {
    //   --element-base-size: 4rem;
    // }

    // @include respond(phone) {
    //   --element-base-size: 3.5rem;
    // }
  }

  &__wrapper {
    position: relative;
    background-color: #121212;
    height: 300vh;
    z-index: 6;
  }

  &__heading {
    all: unset;
    font-family: Integral CF;
    font-weight: 900;
    font-size: min(10vh, 10vw);
    max-width: 65%;
    line-height: 1.1;
    text-transform: uppercase;
    color: #1b1b1b;
    @include respond(tab-land) {
      max-width: 80%;
    }
    @include respond(tab-port) {
      max-width: 80%;
    }

    @include respond(phone) {
      max-width: 100%;
    }
    @include respond(small-phone) {
      max-width: 100%;
    }
  }
  &__subHeading {
    all: unset;
    display: block;
    font-family: Manrope;
    font-variation-settings: 'wght' 500;
    width: 100%;
    font-size: min(2vw, 2vh);
    margin-bottom: 7vh;
    overflow: hidden;
    @include respond(tab-land) {
    }
    @include respond(tab-port) {
    }
    @include respond(phone) {
    }
    @include respond(small-phone) {
      max-width: 80%;
    }
  }
  &__cta {
    border-radius: 5rem;
    display: flex;
    background-color: #e8e8e8;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: auto;

    &__input {
      --width-state: 0vw;
      display: inline;
      font-variation-settings: 'wght' 700;
      font-size: min(2vw, 2vh);
      background-color: transparent;
      outline: none;
      border: none;
      width: 0;
      height: 100%;
      transition: width 1s cubic-bezier(0.48, 2.73, 0.2, 0.26);
      &__clicked {
        margin-left: 4%;
        margin-right: 4%;
        display: block;
        width: 25vw;
        @include respond(tab-land) {
          width: 40vw;
        }
        @include respond(tab-port) {
          width: 60vw;
        }
        @include respond(phone) {
          width: 50vw;
        }
        @include respond(small-phone) {
          width: 40vw;
        }
      }
    }
    &__button {
      font-variation-settings: 'wght' 500;
      display: inline-block;
      cursor: pointer;
      font-size: min(2vw, 2vh);
      color: white;
      white-space: nowrap;
      padding: min(3vw, 3vh) max(3vw, 3vh) min(3vw, 3vh) max(3vw, 3vh);
      background: rgb(116, 133, 225);
      background: linear-gradient(
        49deg,
        rgba(116, 133, 225, 1) 0%,
        rgba(116, 133, 225, 0.6783088235294117) 100%
      );
      border-radius: min(4vw, 4vh);
    }
  }
  &__tut {
    position: absolute;
    bottom: 1.7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &__arrow {
      height: 1.5rem;
      width: 1.5rem;
      margin-right: 1rem;
      animation: moveDownUp 1.6s ease-out 0.75s infinite;
    }
    & span {
      font-size: 2.5rem;
      font-variation-settings: 'wght' 300;
      background: black;

      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

@keyframes moveDownUp {
  0% {
    transform: translateY(0rem);
  }
  60% {
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

@keyframes elementAnimation {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(1rem, -3rem);
  }
  100% {
    transform: translate(0, 0);
  }
}
.htn {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  &__child {
    will-change: transform;
    position: fixed;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    border-radius: 1.1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    & h2 {
      font-family: Raleway;
      font-variation-settings: 'wght' 400;
      font-size: 16rem;
      color: white;
      @include respond(small-phone) {
        font-size: 8rem;
      }
    }
    &1 {
      background: rgb(20, 226, 218);
      background: radial-gradient(
        circle,
        rgba(20, 226, 218, 1) 0%,
        rgba(150, 214, 212, 1) 100%
      );

      left: -80%;
      bottom: -80%;
      z-index: 4;
    }
    &2 {
      background: rgb(116, 133, 225);
      background: radial-gradient(
        circle,
        rgba(116, 133, 225, 1) 0%,
        rgba(159, 166, 205, 1) 100%
      );
      left: -160%;
      bottom: -160%;
      z-index: 3;
    }
    &3 {
      background: rgb(255, 165, 216);
      background: radial-gradient(
        circle,
        rgba(255, 165, 216, 1) 0%,
        rgba(255, 218, 239, 1) 100%
      );
      left: -240%;
      bottom: -240%;
      z-index: 2;
    }
  }
}
