.hero {
  bottom: 100vh;
  height: 100vh;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;

  &__mainEl {
    pointer-events: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;

    &_wrapper {
      position: absolute;
      z-index: -1;
      &1 {
        top: 50vh;
        right: 30vw;
        width: 6rem;
        height: 6rem;
      }
      &2 {
        top: 10vh;
        right: 20vw;
        width: 12rem;
        height: 12rem;
      }
      &3 {
        top: 16vh;
        left: 20vw;
        width: 7rem;
        height: 7rem;
      }
      &4 {
        top: 70vh;
        right: 20vw;
        width: 9rem;
        height: 9rem;
      }
      &5 {
        top: 50vh;
        left: 27vw;
        width: 7rem;
        height: 7rem;
      }
    }

    &_child {
      width: 100%;
      height: 100%;
      animation: elementAnimation 12s ease 6s infinite;
    }
  }

  &__wrapper {
    position: relative;
    background-color: #121212;
    height: 300vh;
    // height: 240vh;
    // height: 380vh;
    z-index: 6;
  }

  &__heading {
    all: unset;
    // display: flex;
    // flex-direction: column;
    margin-bottom: 6rem;
    font-family: Integral CF;
    font-weight: 900;
    font-size: 10rem;
    max-width: 60%;
    line-height: 1;
    // letter-spacing: 1px;
    text-transform: uppercase;
    color: #1b1b1b;
  }
  &__subHeading {
    all: unset;
    display: block;
    font-family: Manrope;
    font-variation-settings: 'wght' 500;
    font-size: 2rem;
    margin-bottom: 9rem;
    overflow: hidden;
  }
  &__cta {
    border-radius: 5rem;
    display: flex;
    background-color: #e8e8e8;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    &__input {
      display: block;
      font-variation-settings: 'wght' 700;
      font-size: 1.8rem;
      background-color: transparent;
      outline: none;
      border: none;
      width: 40rem;
      line-height: 5rem;
      padding: 0rem 3rem 0rem 3rem;
    }
    &__button {
      font-variation-settings: 'wght' 500;
      display: inline-block;
      cursor: pointer;
      font-size: 2rem;
      color: white;
      padding: 3rem 5rem 3rem 5rem;
      background: rgb(116, 133, 225);
      background: linear-gradient(
        49deg,
        rgba(116, 133, 225, 1) 0%,
        rgba(116, 133, 225, 0.6783088235294117) 100%
      );
      border-radius: 4rem;
    }
  }
  &__tut {
    position: absolute;
    bottom: 1.7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &__arrow {
      height: 1.1vw;
      width: 1.1vw;
      margin-right: 0.7vw;
      animation: moveDownUp 1.6s ease-out 0.75s infinite;
    }
    & span {
      font-size: 2.5rem;
      font-variation-settings: 'wght' 300;
      background: black;

      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

@keyframes moveDownUp {
  0% {
    transform: translateY(0rem);
  }
  60% {
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

@keyframes elementAnimation {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(1rem, -3rem);
  }
  100% {
    transform: translate(0, 0);
  }
}
.htn {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  &__child {
    will-change: transform;
    position: fixed;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    border-radius: 1.1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    & h2 {
      font-family: Raleway;
      font-variation-settings: 'wght' 400;
      font-size: 16rem;
      color: white;
    }
    &1 {
      // background-color: #313653;
      background: rgb(20, 226, 218);
      background: radial-gradient(
        circle,
        rgba(20, 226, 218, 1) 0%,
        rgba(150, 214, 212, 1) 100%
      );

      // left: -80vw;
      // bottom: -72vh;
      left: -80%;
      bottom: -80%;
      z-index: 4;
    }
    &2 {
      background: rgb(116, 133, 225);
      background: radial-gradient(
        circle,
        rgba(116, 133, 225, 1) 0%,
        rgba(159, 166, 205, 1) 100%
      );
      // left: -160vw;
      // bottom: -144vh;
      left: -160%;
      bottom: -160%;
      z-index: 3;
    }
    &3 {
      background: rgb(255, 165, 216);
      background: radial-gradient(
        circle,
        rgba(255, 165, 216, 1) 0%,
        rgba(255, 218, 239, 1) 100%
      );
      // left: -240vw;
      // bottom: -216vh;
      left: -240%;
      bottom: -240%;
      z-index: 2;
    }
  }
}

// .pointer {
//   pointer-events: all;
// }
