@import '../../../sass/abstracts/mixins';
@import '../../../sass/abstracts/variables';

.waitlistForm {
  &__wrapper {
    position: absolute;
    width: 100vw;
    background-color: white;
    border-radius: min(3vw, 3vh) min(3vw, 3vh) 0px 0px;

    @include respond(tab-land) {
      bottom: -min(100vh, 70rem);
      height: min(100vh, 70rem);
      padding: 6rem;
    }

    @include respond(phone) {
      bottom: -min(100vh, 90rem);
      height: min(100vh, 90rem);
      padding: 9rem;
    }
  }
  &__form {
    // position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  &__title {
    font-family: Integral CF;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: min(3rem, 3vh);
    // margin-bottom: min(10vw, 10vh);
    @include respond(tab-land) {
      font-size: min(5rem, 6.3vh);
    }
    @include respond(phone) {
      font-size: min(6rem, 6vh);
    }
  }
  &__description {
    text-align: center;
    color: #d8d8d8;

    margin-bottom: min(2rem, 3vh);
    @include respond(tab-land) {
      font-size: min(2.5rem, 4vh);
    }
    @include respond(phone) {
      font-size: min(3rem, 6vh);
    }
  }
  &__field {
    all: unset;
    font-size: min(2.4vw, 2.4vh);
    height: min(4vw, 4vh);
    background-color: #e8e8e8;
    padding: min(2vw, 2vh) max(3vw, 3vh) min(2vw, 2vh) max(3vw, 3vh);
    border-radius: 10px;

    @include respond(tab-land) {
      font-size: min(3rem, 4vh);
      height: min(7rem, 9vh);
    }
    @include respond(phone) {
      font-size: min(4rem, 4vh);
      height: min(9rem, 9vh);
    }
    &__container {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    &__label {
      font-size: min(4vw, 4vh);
      margin-bottom: min(3vw, 3vh);
      @include respond(tab-land) {
        font-size: min(3rem, 4vh);
      }
      @include respond(phone) {
        font-size: min(4rem, 4vh);
      }
    }
  }
  &__success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    &__title {
      text-align: center;
      text-transform: uppercase;
      font-size: 5vw;
    }
  }
  &__submit {
    border: none;
    font-variation-settings: 'wght' 400;
    font-size: min(2vw, 2vh);
    cursor: pointer;
    color: white;
    white-space: nowrap;
    background: rgb(116, 133, 225);
    background: linear-gradient(
      49deg,
      rgba(116, 133, 225, 1) 0%,
      rgba(116, 133, 225, 0.6783088235294117) 100%
    );
    border-radius: 10px;
    @include respond(tab-land) {
      width: 100%;
      font-size: min(2rem, 4vh);
      padding: min(3rem, 4vh);
    }
    @include respond(phone) {
      width: 100%;
      font-size: min(3rem, 4vh);
      padding: min(5rem, 4vh);
    }
  }
}
