// * {
//   box-sizing: border-box; /* 1 */
// }

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
  overflow: visible;
}

html {
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%;
  }
  @include respond(tab-port) {
    font-size: 50%;
  }
  @include respond(big-desktop) {
    font-size: 75%;
  }
}

ul,
li {
  text-indent: none;
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

::selection {
  background-color: $color-primary;
  color: $white;
}
