// ---------------------------------------IMPORTS---------------------------------------- //

// Raleway /////////////////////////////////////

@font-face {
  font-family: 'Raleway Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Raleway Regular'),
    url('./assets/fonts/RalewayWeb/Raleway-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  src: local('Raleway'),
    url('./assets/fonts/RalewayWeb/Raleway-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Raleway Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Raleway Italic'),
    url('./assets/fonts/RalewayWeb/Raleway-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Raleway Thin';
  font-style: normal;
  font-weight: normal;
  src: local('Raleway Thin'),
    url('./assets/fonts/RalewayWeb/Raleway-Thin.woff') format('woff');
}

@font-face {
  font-family: 'Raleway Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Raleway Thin Italic'),
    url('./assets/fonts/RalewayWeb/Raleway-ThinItalic.woff') format('woff');
}

@font-face {
  font-family: 'Raleway ExtraLight';
  font-style: normal;
  font-weight: normal;
  src: local('Raleway ExtraLight'),
    url('./assets/fonts/RalewayWeb/Raleway-ExtraLight.woff') format('woff');
}

@font-face {
  font-family: 'Raleway ExtraLight Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Raleway ExtraLight Italic'),
    url('./assets/fonts/RalewayWeb/Raleway-ExtraLightItalic.woff')
      format('woff');
}

@font-face {
  font-family: 'Raleway Light';
  font-style: normal;
  font-weight: normal;
  src: local('Raleway Light'),
    url('./assets/fonts/RalewayWeb/Raleway-Light.woff') format('woff');
}

@font-face {
  font-family: 'Raleway Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Raleway Light Italic'),
    url('./assets/fonts/RalewayWeb/Raleway-LightItalic.woff') format('woff');
}

@font-face {
  font-family: 'Raleway Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Raleway Medium'),
    url('./assets/fonts/RalewayWeb/Raleway-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Raleway Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Raleway Medium Italic'),
    url('./assets/fonts/RalewayWeb/Raleway-MediumItalic.woff') format('woff');
}

@font-face {
  font-family: 'Raleway SemiBold';
  font-style: normal;
  font-weight: normal;
  src: local('Raleway SemiBold'),
    url('./assets/fonts/RalewayWeb/Raleway-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Raleway SemiBold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Raleway SemiBold Italic'),
    url('./assets/fonts/RalewayWeb/Raleway-SemiBoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Raleway Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Raleway Bold'),
    url('./assets/fonts/RalewayWeb/Raleway-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Raleway Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Raleway Bold Italic'),
    url('./assets/fonts/RalewayWeb/Raleway-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Raleway ExtraBold';
  font-style: normal;
  font-weight: normal;
  src: local('Raleway ExtraBold'),
    url('./assets/fonts/RalewayWeb/Raleway-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Raleway ExtraBold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Raleway ExtraBold Italic'),
    url('./assets/fonts/RalewayWeb/Raleway-ExtraBoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Raleway Black';
  font-style: normal;
  font-weight: normal;
  src: local('Raleway Black'),
    url('./assets/fonts/RalewayWeb/Raleway-Black.woff') format('woff');
}

@font-face {
  font-family: 'Raleway Black Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Raleway Black Italic'),
    url('./assets/fonts/RalewayWeb/Raleway-BlackItalic.woff') format('woff');
}

/////////////////////////////////////////////

// Integral CF /////////////////////////////
@font-face {
  font-family: 'Integral CF Extra';
  src: url('./assets/fonts/IntegralCF/IntegralCF-ExtraBold.eot');
  src: local('Integral CF Extra Bold'), local('IntegralCF-ExtraBold'),
    url('./assets/fonts/IntegralCF/IntegralCF-ExtraBold.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/IntegralCF/IntegralCF-ExtraBold.woff2') format('woff2'),
    url('./assets/fonts/IntegralCF/IntegralCF-ExtraBold.woff') format('woff'),
    url('./assets/fonts/IntegralCF/IntegralCF-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Integral CF Heavy Oblique';
  src: url('./assets/fonts/IntegralCF/IntegralCF-HeavyOblique.eot');
  src: local('Integral CF Heavy Oblique'), local('IntegralCF-HeavyOblique'),
    url('./assets/fonts/IntegralCF/IntegralCF-HeavyOblique.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/IntegralCF/IntegralCF-HeavyOblique.woff2')
      format('woff2'),
    url('./assets/fonts/IntegralCF/IntegralCF-HeavyOblique.woff') format('woff'),
    url('./assets/fonts/IntegralCF/IntegralCF-HeavyOblique.ttf')
      format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Integral CF';
  src: url('./assets/fonts/IntegralCF/IntegralCF-Bold.eot');
  src: local('Integral CF Bold'), local('IntegralCF-Bold'),
    url('./assets/fonts/IntegralCF/IntegralCF-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/IntegralCF/IntegralCF-Bold.woff2') format('woff2'),
    url('./assets/fonts/IntegralCF/IntegralCF-Bold.woff') format('woff'),
    url('./assets/fonts/IntegralCF/IntegralCF-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Integral CF';
  src: url('./assets/fonts/IntegralCF/IntegralCF-Regular.eot');
  src: local('Integral CF'), local('IntegralCF-Regular'),
    url('./assets/fonts/IntegralCF/IntegralCF-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/IntegralCF/IntegralCF-Regular.woff2') format('woff2'),
    url('./assets/fonts/IntegralCF/IntegralCF-Regular.woff') format('woff'),
    url('./assets/fonts/IntegralCF/IntegralCF-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Integral CF Oblique';
  src: url('./assets/fonts/IntegralCF/IntegralCF-RegularOblique.eot');
  src: local('Integral CF Oblique'), local('IntegralCF-RegularOblique'),
    url('./assets/fonts/IntegralCF/IntegralCF-RegularOblique.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/IntegralCF/IntegralCF-RegularOblique.woff2')
      format('woff2'),
    url('./assets/fonts/IntegralCF/IntegralCF-RegularOblique.woff')
      format('woff'),
    url('./assets/fonts/IntegralCF/IntegralCF-RegularOblique.ttf')
      format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Integral CF Medium Oblique';
  src: url('./assets/fonts/IntegralCF/IntegralCF-MediumOblique.eot');
  src: local('Integral CF Medium Oblique'), local('IntegralCF-MediumOblique'),
    url('./assets/fonts/IntegralCF/IntegralCF-MediumOblique.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/IntegralCF/IntegralCF-MediumOblique.woff2')
      format('woff2'),
    url('./assets/fonts/IntegralCF/IntegralCF-MediumOblique.woff')
      format('woff'),
    url('./assets/fonts/IntegralCF/IntegralCF-MediumOblique.ttf')
      format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Integral CF';
  src: url('./assets/fonts/IntegralCF/IntegralCF-Medium.eot');
  src: local('Integral CF Medium'), local('IntegralCF-Medium'),
    url('./assets/fonts/IntegralCF/IntegralCF-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/IntegralCF/IntegralCF-Medium.woff2') format('woff2'),
    url('./assets/fonts/IntegralCF/IntegralCF-Medium.woff') format('woff'),
    url('./assets/fonts/IntegralCF/IntegralCF-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Integral CF Bold Oblique';
  src: url('./assets/fonts/IntegralCF/IntegralCF-BoldOblique.eot');
  src: local('Integral CF Bold Oblique'), local('IntegralCF-BoldOblique'),
    url('./assets/fonts/IntegralCF/IntegralCF-BoldOblique.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/IntegralCF/IntegralCF-BoldOblique.woff2')
      format('woff2'),
    url('./assets/fonts/IntegralCF/IntegralCF-BoldOblique.woff') format('woff'),
    url('./assets/fonts/IntegralCF/IntegralCF-BoldOblique.ttf')
      format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Integral CF Demi Bold Oblique';
  src: url('./assets/fonts/IntegralCF/IntegralCF-DemiBoldOblique.eot');
  src: local('Integral CF Demi Bold Oblique'),
    local('IntegralCF-DemiBoldOblique'),
    url('./assets/fonts/IntegralCF/IntegralCF-DemiBoldOblique.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/IntegralCF/IntegralCF-DemiBoldOblique.woff2')
      format('woff2'),
    url('./assets/fonts/IntegralCF/IntegralCF-DemiBoldOblique.woff')
      format('woff'),
    url('./assets/fonts/IntegralCF/IntegralCF-DemiBoldOblique.ttf')
      format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Integral CF Demi';
  src: url('./assets/fonts/IntegralCF/IntegralCF-DemiBold.eot');
  src: local('Integral CF Demi Bold'), local('IntegralCF-DemiBold'),
    url('./assets/fonts/IntegralCF/IntegralCF-DemiBold.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/IntegralCF/IntegralCF-DemiBold.woff2') format('woff2'),
    url('./assets/fonts/IntegralCF/IntegralCF-DemiBold.woff') format('woff'),
    url('./assets/fonts/IntegralCF/IntegralCF-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Integral CF';
  src: url('./assets/fonts/IntegralCF/IntegralCF-Heavy.eot');
  src: local('Integral CF Heavy'), local('IntegralCF-Heavy'),
    url('./assets/fonts/IntegralCF/IntegralCF-Heavy.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/IntegralCF/IntegralCF-Heavy.woff2') format('woff2'),
    url('./assets/fonts/IntegralCF/IntegralCF-Heavy.woff') format('woff'),
    url('./assets/fonts/IntegralCF/IntegralCF-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Integral CF Extra Bold Oblique';
  src: url('./assets/fonts/IntegralCF/IntegralCF-ExtraBoldOblique.eot');
  src: local('Integral CF Extra Bold Oblique'),
    local('IntegralCF-ExtraBoldOblique'),
    url('./assets/fonts/IntegralCF/IntegralCF-ExtraBoldOblique.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/IntegralCF/IntegralCF-ExtraBoldOblique.woff2')
      format('woff2'),
    url('./assets/fonts/IntegralCF/IntegralCF-ExtraBoldOblique.woff')
      format('woff'),
    url('./assets/fonts/IntegralCF/IntegralCF-ExtraBoldOblique.ttf')
      format('truetype');
  font-weight: 800;
  font-style: italic;
}

///////////////////////////////////////////

@font-face {
  font-family: Manrope;
  src: url('./assets/fonts/Manrope/Manrope-VariableFont_wght.ttf');
}
// -------------------------------------------------------------------------------------- //

////////////////////////////////////////////////////////////////
// Default Format for Whole Website
body {
  font-family: Manrope;
}
//////////////////////////////////////

///////////////////
// Type 1 Text Formats
.tp1 {
  all: unset;
  color: inherit;
  font-family: Raleway;
}

.tp1-heading-l1 {
  font-size: 9rem;
}

.tp1-heading-l2 {
  font-size: 5rem;
}

.tp1-heading-l3 {
  font-size: 3rem;
}

.tp1-para-l1 {
}

.tp1-para-l2 {
}

//////////////////
// Type 2 Text Formats
.tp2-heading-l1 {
}

.tp2-heading-l2 {
}

.tp2-heading-l3 {
}

.tp2-para-l1 {
}

.tp2-para-l2 {
}

/////////////////
// Text Decorations
.tdecor-1 {
  display: inline-block;
  text-transform: capitalize;
  position: relative;
  z-index: 1;
  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 9%;
    display: inline-block;
    width: 100%;
    height: 20%;
    background-color: $color-primary;
  }
}
