// ---------------------------------------IMPORTS---------------------------------------- //

@font-face {
  font-family: Raleway;
  src: url('./assets/fonts/Raleway/Raleway-VariableFont_wght.ttf');
}

@font-face {
  font-family: Manrope;
  src: url('./assets/fonts/Manrope/Manrope-VariableFont_wght.ttf');
}

@font-face {
  font-family: RalewayDotted;
  src: url('./assets/fonts/Raleway_Dots/RalewayDots-Regular.ttf');
}

@font-face {
  font-family: HelveticaNow;
  src: url('./assets/fonts/HelvetivaNowText/HelveticaNowText-Black.otf');
}

@font-face {
  font-family: 'Integral CF Extra';
  src: url('./assets/fonts/IntegralCF/IntegralCF-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Integral CF Heavy Oblique';
  src: url('./assets/fonts/IntegralCF/IntegralCF-HeavyOblique.ttf');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Integral CF';
  src: url('./assets/fonts/IntegralCF/IntegralCF-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Integral CF';
  src: url('./assets/fonts/IntegralCF/IntegralCF-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Integral CF Oblique';
  src: url('./assets/fonts/IntegralCF/IntegralCF-RegularOblique.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Integral CF Medium Oblique';
  src: url('./assets/fonts/IntegralCF/IntegralCF-MediumOblique.ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Integral CF';
  src: url('./assets/fonts/IntegralCF/IntegralCF-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Integral CF Bold Oblique';
  src: url('./assets/fonts/IntegralCF/IntegralCF-BoldOblique.ttf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Integral CF Demi Bold Oblique';
  src: url('./assets/fonts/IntegralCF/IntegralCF-DemiBoldOblique.ttf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Integral CF Demi';
  src: url('./assets/fonts/IntegralCF/IntegralCF-DemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Integral CF';
  src: url('./assets/fonts/IntegralCF/IntegralCF-Heavy.ttf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Integral CF Extra Bold Oblique';
  src: url('./assets/fonts/IntegralCF/IntegralCF-ExtraBoldOblique.ttf');
  font-weight: 800;
  font-style: italic;
}
// -------------------------------------------------------------------------------------- //

////////////////////////////////////////////////////////////////
// Default Format for Whole Website
body {
  font-family: Manrope;
}
//////////////////////////////////////

///////////////////
// Type 1 Text Formats
.tp1 {
  all: unset;
  color: inherit;
  font-family: Raleway;
  text-align: center;
}

.tp1-heading-l1 {
  font-size: 7rem;
}

.tp1-heading-l2 {
  font-size: 5rem;
}

.tp1-heading-l3 {
  font-size: 3rem;
}

.tp1-para-l1 {
}

.tp1-para-l2 {
}

//////////////////
// Type 2 Text Formats
.tp2-heading-l1 {
}

.tp2-heading-l2 {
}

.tp2-heading-l3 {
}

.tp2-para-l1 {
}

.tp2-para-l2 {
}

/////////////////
// Text Decorations
.tdecor-1 {
  display: inline-block;
  text-transform: capitalize;
  position: relative;
  z-index: 1;
  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 9%;
    display: inline-block;
    width: 100%;
    height: 20%;
    background-color: $color-primary;
  }
}
